.vs
build-qmdnsengine-Desktop_Qt_6_2_3_MSVC2019_64bit-Debug
*.pdb
*.idb
.qmake.stash
*.pro.user*
debug
release
ui_*.h
symbols.out
RDU3.vcxproj
RDU3.vcxproj.filters
RDU3.vcxproj.user
Makefile
Makefile.Debug
Makefile.Release
vcpkg_installed
crashpad
